{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "bracketSameLine": true,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "es5",
    "printWidth": 80,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
